* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 100%;

  margin-left: 250px;
  margin-right: 250px;

  background: rgba(114, 90, 193, 0.368);
  border: 1px solid #ffffff;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
}

.change-color-btn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
  height: 60px;
}

.change-color-btn:hover {
  color: rgba(114, 90, 193, 0.63);
  box-shadow: inset 0 -100px 0 0 #ffffff;
}

.change-color-btn:active {
  transform: scale(0.9);
}

.customer-field {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: -45px;
}

.customer-input {
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  /* border: 2px solid #080808; */
  border: transparent;
}
.customer-input:disabled {
  /* border: 1px solid rgb(169, 169, 169); */
  border: transparent;
  color: rgb(169, 169, 169);
}

.customer-btn {
  height: 30px;
  width: 100px;
  font-size: 20px;
  background-color: rgb(13, 141, 9);
  color: #fff;
  border-radius: 8px;
  border: 2px solid rgba(16, 161, 10, 0.685);
  cursor: pointer;
}
.customer-btn:disabled {
  border: transparent;
  color: rgb(169, 169, 169);
  background-color: #fff;
}

.timer {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #080808;
  border-radius: 5px;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
}

.field {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 90px;
  position: relative;
}

.value {
  display: block;
  color: white;
  font-size: 50px;
}

.label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 10px;
}
